/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-15-2019, 03:42:45 PM
    Author     : MI PC
*/
html {
line-height:1.15; 
-ms-text-size-adjust:100%; 
-webkit-text-size-adjust:100%;
}
textarea {
overflow: auto;
}
pre, code, kbd, samp {
font-family: monospace, monospace; 
font-size: 1em; 
}
sub, sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
img {
  border-style: none;
}



