<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="YacayoPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.yacayo.entidades.Direccion</class>
    <class>com.yacayo.entidades.Rubros</class>
    <class>com.yacayo.entidades.Usuario</class>
    <class>com.yacayo.entidades.Publicacione</class>
    <class>com.yacayo.entidades.Documento</class>
    <class>com.yacayo.entidades.Departamento</class>
    <class>com.yacayo.entidades.Persona</class>
    <class>com.yacayo.entidades.Empresa</class>
    <class>com.yacayo.entidades.TipoDocumento</class>
    <class>com.yacayo.entidades.TipoUsuario</class>
    <class>com.yacayo.entidades.Pais</class>
    <class>com.yacayo.entidades.Ciudad</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/yacayo?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value=""/>
    </properties>
  </persistence-unit>
</persistence>
